[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
imbalanced-learn = "*"
mlflow = "*"
shap = "*"
lime = "*"
streamlit = "*"
flask = "*"
lightgbm = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
