########################################################
#             Jupyter notebook checkpoints             #
########################################################
/.ipynb_checkpoints/

########################################################
#     Fichiers de données trop lourds pour github      #
########################################################
/data/brutes/*.csv